<div class="container">
  <h1>Striped Candy</h1>

  <% @items.each do |item| %>
    <hr>

    <%= form_with scope: :item, url: charges_path(item) do |form| %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <div class="field">
          <p><strong>Name: </strong><%= item.name %></p>
          <%= form.hidden_field :name, value: item.name %>
        </div>
        <div class="field">
          <p><strong>Price: $</strong><%= item.price %>0</p>
          <%= form.hidden_field :price, value: item.price %>
        </div>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Your order"
              data-amount="<%= item.price * 100 %>"
              data-currency="AUD"
              data-locale="auto">
      </script>


    <% end %>

    <hr>
  <% end %>

  <%# if customer_signed_in? %>

  <%# else %>

  <%# end %>
  
</div>
